# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------
# Virtual Environment
# ----------------------
venv/
.env/

# ----------------------
# Data (DO NOT PUSH)
# ----------------------
data/raw/
data/*.npy
data/*.pkl
data/*.csv

# ----------------------
# Models (DO NOT PUSH)
# ----------------------
models/
*.pth

# ----------------------
# Logs (optional)
# ----------------------
logs/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Notebooks
# ----------------------
.ipynb_checkpoints/

ml-trading-system/data/
ml-trading-system/models/
ml-trading-system/venv/